.TaskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
}

.TaskListTitle {
    margin: 3%;
}

.TaskContainer {
    background-color: rgb(187, 210, 201);
    border: solid 1px rgb(187, 210, 201);
    border-radius: 7px;
    width: 100%;
    padding: 3%;
    min-height: 80vh;
}